@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dongle&family=Estonia&family=Josefin+Sans:ital@1&family=Lobster&family=Merriweather:wght@900&family=Mochiy+Pop+One&family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dongle&family=Estonia&family=Josefin+Sans:ital@1&family=Lobster&family=Merriweather:wght@900&family=Mochiy+Pop+One&family=Open+Sans:wght@700&family=Shippori+Antique+B1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bebas+Neue&family=Comforter&family=Dongle&family=Estonia&family=Josefin+Sans:ital@1&family=Lobster&family=Merriweather:wght@900&family=Mochiy+Pop+One&family=Open+Sans:wght@700&family=Shippori+Antique+B1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bebas+Neue&family=Dongle&family=Estonia&family=Josefin+Sans:ital@1&family=Lobster&family=Merriweather:wght@900&family=Mochiy+Pop+One&family=Open+Sans:wght@700&family=Shippori+Antique+B1&display=swap");
@import "NavBar.css";
@import "./Slider.css";
@import "./Movies.css";
@import "./Search.css";
@import "./IconNav.css";
@import "./ModalStyle.css";
@import "./TopSlider.css";
@import "./Pagination.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: hsl(200, 8%, 63%); */
  /* background-color: hsl(199, 13%, 29%); */
  background-color: #263238;
}

.movies,
.series,
.search,
.trending-all-movies,
.search-container {
  margin-top: 100px;
}

.slider-container {
  margin-top: 80px;
}

.loader {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader-search {
  height: 100vh;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left : 50%;
}
