.search-container {
margin-top: 90px;
margin-left : auto;
margin-right: auto;
}

.form-search {
    display: flex;
    justify-content: center;
    /* margin-bottom: 20px; */
    height: 50px;
}

.form-search > button {
    margin-left : 1%;
    width: 50px;
    background-color: rgb(42, 39, 39);
    border: none;
    border-radius: 3px;
    color: rgb(93, 109, 140);
}

.form-control {
    background-color: transparent;
    color: whitesmoke;
}
.form-control:active , .form-control:focus {
    background-color: transparent;
    border: 1px solid whitesmoke;
    box-shadow: none;
    color: whitesmoke;
}

.block-tabs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    /* background-color: red; */
}

.tabs {
    width: 100%;
    height: 100%;
    text-align: center;
}

.tabs:first-child {
    border-right: 1px solid whitesmoke;
}

.tabs {
    background-color: #263238;
    color: white;
    padding: 10px;
    border-radius: 4px;
    box-shadow : 2px 2px 4px 2px #212121;
    cursor: pointer;
}
.tabs:hover {
    background-color: #37474f;
    color: rgb(223, 219, 219);
}

.active-tabs {
    border-bottom: 3px solid #01579b;
}

.content {
    display: none;
}

.active-content {
    display: block;
}

@media (max-width: 800px) {
    .tabs {
        font-size: 12px;
    }
}
@media (max-width: 400px) {
    .tabs {
        font-size: 10px;
    }
}